.tally {
  background-color: lightblue;
}

h1 {
  background-color: orangered;
  color: white;
  margin: 20px;
  text-align: center;
}

.instructions {
  background-color: lightgoldenrodyellow;
  color: red;
  margin: 10px;
}

body {
  background-image: url("../images/background.png");
}

#total-points {
  font-size: 36px;
}